{% extends 'base.html' %}

{% block title %}Running Race Management {% endblock %}

{% block content %}
    <h1>Running Race Management System</h1>
    <section>
        <h2>About the Application</h2>
        <p>This Running Race Management System is designed to help organizations manage their Running Race  efficiently. The application allows administrators to add and manage races, and runners to register for these activities. Our goal is to streamline the process of organizing and participating in runnings races events, making it easier for everyone involved.</p>

        <h2>Purpose</h2>
        <p>The primary purpose of this application is to provide a centralized platform where running races can be easily managed. It helps organizations keep track of runners registrations, available slots, and activity details, ensuring that everything runs smoothly and efficiently. Runners can easily find and register for races that match their interests and availability.</p>

        <h2>Developers</h2>
        <p>This application was developed by a dedicated team of developers who are passionate about making a difference in the community. Our team consists of:</p>
        <ul>
            <li><strong>Ladislav Bílík</strong> - Lead Developer</li>
        </ul>
        <p>We hope this application serves as a valuable tool for both organizations and runners, helping to foster a stronger and more connected community.</p>
    </section>
{% endblock %}


