{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
    <h1>Privacy Policy</h1>
    <p> Running Race Management system is committed to protecting and respecting your privacy.
        This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website [http://127.0.0.1:8000/privacy_policy/], use our services, or engage with us in any other manner.
        Please read this policy carefully to understand our views and practices regarding your personal data and how we will treat it
        1. Information We Collect
We may collect and process the following data about you:

Personal Identification Information: Name, email address, phone number, etc.
Demographic Information: Age, gender, location, preferences, etc.
Technical Data: IP address, browser type, operating system, device information, etc.
Usage Data: Pages you visit, time spent on the site, links clicked, etc.
Cookies and Tracking Technologies: We use cookies to enhance your experience on our website (see our Cookie Policy for more details)..</p>
    <button onclick="window.location.href='{% url 'index' %}'">Back</button>
{% endblock %}

