{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <div>
        Our web application for running race management is designed to streamline and enhance the experience of organizing and participating in races.
        It offers comprehensive tools for race directors to manage registrations, track participant data, and communicate efficiently with runners.

        With an intuitive interface and robust functionality, our platform ensures a seamless and engaging experience for everyone involved in the race.
    </div>
{% endblock %}